<%= form_for(@comment) do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :interior_id %>
  <div class="panel text-center">
    <div class="form-group">
      <%= f.label :感想をどうぞ %>
      <%= f.text_area :body, class: 'form-control', rows: 3 %>
    </div>
    <%= f.submit '投稿する', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
