<ul class="media-list">
  
<% interiors.each do |interior| %>

    <li class="media">
      
      <div class="media-body">
        <div><%= @user.name %></div>
        <div>
          <p><%= interior.title %></p>
          <%= render 'scraps/scrap_button', interior: interior %>
           <%= image_tag interior.photo_url(:thumb) %>
        </div>
        <div>
          <% if logged_in? %>
            <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-search" aria-hidden="true">
            <%= link_to '詳細画面へ', interior_path(interior) %>
            </span>
            </button>
          <% end %>
          <% if current_user == interior.user %>
            <button type="button" class="btn btn-warning" aria-label="Left Align">
            <span class="glyphicon glyphicon-trash" aria-hidden="true">
            <%= link_to "投稿を削除する", interior, method: :delete, data: { confirm:"削除してよろしいですか？" } %>
            </span>
          </button>
          <% end %>
        </div>
      </div>
    </li>
    
  
<% end %>

  
<%= paginate interiors %>

</ul>