<div class="row">
  <div class="col-md-offset-3 col-md-6 col-sm-12">
    <div class="panel panel-warning text-center">
      <div class="panel-heading">
        <%= @interior.title %>の編集ページ</h1>
      </div>

      <%= form_for(@interior) do |f| %>
  
      <div class="form-group">
        <%= f.label :title, 'タイトル' %>
        <%= f.text_field :title %>
      </div>
      
      <div class="form-group">
          <%= f.label :taste, 'インテリアテイスト' %>
          <%= f.select :taste, {"ナチュラル"=>"natural", "シャビーシック"=>"shabbychic", "インダストリアル"=>"industrial", "北欧風"=>"nordic","アメリカン"=>"american", "モダン"=>"modern", "その他"=>"other"}, class:'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :room, '場所' %>
          <%= f.select :room, {"リビング"=>"living", "キッチン"=>"kitchen", "サニタリー"=>"sanitary", "寝室"=>"bedroom", "子供部屋"=>"childrenroom", "玄関"=>"entrance", "その他"=>"another"}, class:'form-control' %>
        </div>
      
      <!--写真は修正できない-->
      
      <div class="form-group" >
        <%= f.label :appeal, 'アピールポイント' %>
        <%= f.text_area :appeal, rows: 3%>
      </div>
      
      <%= f.submit '修正' %>
      <% end %>
    
      <div>
        <% if current_user == @user %>
        <%= link_to "削除", @interior, method: :delete, data: { confirm: "Interiorを削除しますか?" }, class: 'btn btn-danger btn-sm  btn-block' %>
        <% end %>
      </div>
    </div>
<%= link_to '詳細画面へ戻る', interior_path(@interior) %>
  </div>
</div>
    



