<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="panel panel-warning text-center">
      <div class="panel-heading"><%= @interior.title %>の詳細ページ</div>
      <h3><%= @interior.title %><span class="badge"><span class="glyphicon glyphicon-paperclip"></span><%= @interior.scraps_count %></span></h3>
      <p><%= link_to @interior.user.name, user_path(@interior.user) %></p>
    <div class="col-xs-6">
      <p>テイスト：<%= @interior.taste_i18n %></p>
    </div>
    <div class="col-xs-6">
      <p>場所：<%= @interior.room_i18n %></p>
    </div>
      <h4><%= @interior.appeal %></h4>
      <%= image_tag(@interior.photo_url) if @interior.photo.present? %><br>
      <%= render 'scraps/scrap_button', interior: @interior %><br>

    <div>
      <% if current_user == @interior.user %>
        <button type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true">
            <%= link_to 'Interiorを編集する', edit_interior_path(@interior) %>
          </span>
        </button>
        <button type="button" class="btn btn-warning" aria-label="Left Align">
          <span class="glyphicon glyphicon-trash" aria-hidden="true">
            <%= link_to "Interiorの投稿を削除する", @interior, method: :delete, data: { confirm:"削除してよろしいですか？" } %>
          </span>
        </button>
      <% end %>
    </div>
    </div>
  </div>

  <div class="col-md-6 col-xs-12">
    <div class="panel panel-info text-center">
      <div class="panel-heading">コメント一覧</div>
        <% @comments.each do |comment| %>
          <div class="comments ">
            <p><%= comment.user.name %></p>
            <p><%= comment.body %></p>
              <% if current_user == comment.user %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true">
              <%= link_to 'コメントを削除', comment, method: :delete %>
              </span>
              <% end %>
          </div>
        <% end %>
    </div>
    <%= render 'comments/form' %>
  </div>
</div>
<div class="row">
  <%= link_to 'Toppageへ戻る', root_url %>
</div>
