<h1>id: <%= @interior.id %>のインテリア詳細ページ</h1>

<p>
<%= @interior.title %>
</p>
<%= render 'scraps/scrap_button', interior: @interior %>
<div>
  <% if current_user == @interior.user %>
  <%= link_to '編集', edit_interior_path(@interior), class: 'btn btn-info btn-xs' %>
  <%= link_to "削除", @interior, method: :delete, data: { confirm: "削除しますか?" }, class: 'btn btn-danger btn-xs' %>
  <% end %>
</div>
