<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-warning text-center">
      <div class="panel-heading">
        <%= @interior.title %>の詳細ページ
      </div>
      
    <h3><%= @interior.title %><span class="badge"><span class="glyphicon glyphicon-paperclip"></span><%= @interior.scraps_count %></span></h3>
    <p><%= link_to @interior.user.name, user_path(@interior.user) %></p>
  <div class="col-xs-6">
    <p>インテリアテイスト：<%= @interior.taste %></p>
  </div>
  <div class="col-xs-6">
    <p>場所：<%= @interior.room %></p>
  </div>
    <h4><%= @interior.appeal %></h4>
    <%= image_tag(@interior.photo_url) if @interior.photo.present? %><br>
    <%= render 'scraps/scrap_button', interior: @interior %><br>

  <div>
    <% if current_user == @interior.user %>
      <button type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true">
          <%= link_to 'Interiorを編集する', edit_interior_path(@interior) %>
        </span>
      </button>
      <button type="button" class="btn btn-warning" aria-label="Left Align">
        <span class="glyphicon glyphicon-trash" aria-hidden="true">
          <%= link_to "投稿を削除する", @interior, method: :delete, data: { confirm:"削除してよろしいですか？" } %>
        </span>
      </button>
    <% end %>
  </div>
    </div>
    <%= link_to 'Toppageへ戻る', root_url %>
  </div>
</div>
