<div class="row">
  <div class="col-md-offset-3 col-md-6 col-sm-12">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <%= @user.name %>さんのプロフィール編集ページ
      </div>

      <%= form_for(@user) do |f| %>

      <div class="form-group">
        <%= f.label :name, 'お名前' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      
      <div class="form-group">
          <span>写真</span>
          <%= f.file_field :image %>
        </div>
  
      <div class="form-group">
        <%= f.label :profile, 'プロフィール' %>
        <%= f.text_field :profile, class: 'form-control' %>
      </div>
      
      <div class="form-group">
      <%= f.submit :class=>"btn btn-warning btn-block" '修正' %>
      </div>
      
      <% end %>

      <div class="text-right">
        <% if current_user == @user %>
        <p>会員登録の削除はこちら→<%= link_to "会員登録削除", confirm_user_path(@user) %></p>
        <% end %>
      </div>
    </div>
    <%= link_to 'MyBookへ戻る', user_path(@user) %>
  </div>
</div>
